.home-page {
  padding: 0 50px;
  min-height: 80vh;
}

.home-page h1 {
  text-align: center;
  border-bottom: 1px solid #e3eff3;
  font-size: 23px;
  font-weight: 900;
}

.home-page h3 {
  font-weight: 700;
  font-size: 18px;
}

.home-page p {
  line-height: 1.4;
  letter-spacing: 1.8;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}

.explore {
  display: inline-block;
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid #04364a;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .home-page {
    padding: 0 20px;
  }
}
