<%- include("partials/header"); -%>
    <h1>We're Changing The Way People Think About Blogging</h1>
    <p class="about-content"> uBlog is a blogging technology company founded on the premise that basic blogginng services should be helpful,
         easy and free. We want to profit with our members, not from them. 
        That’s why our model doesn’t rely on monthly service fees or subscription.
 We help drive innovation, inclusion, and access across the industry. </p>
<%- include("partials/footer"); -%>
