<%- include("partials/header"); -%>
    <h1>We'd Love To Here From You.</h1>
    <div class="contact-container">

        <p class="contact-content"> Whether You Are Curious About Features Or Even Press - We're Ready To Answer Any And All Questions </p>
        <div class="image-container"><img src="/images/lightbulb2.jpg" class="contact-img" alt="light bulb"></div>
    </div>
<%- include("partials/footer"); -%>
